@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-primary bg-primary text-white leading-loose;
  }
}
.main-container {
  min-height: calc(100vh - 136px);
}
.card-container {
  -webkit-box-shadow: -2px -81px 68px -21px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -2px -81px 68px -21px rgba(0, 0, 0, 0.75);
  box-shadow: -2px -81px 68px -21px rgba(0, 0, 0, 0.75);
}
